/*
header begins
*/
.head{
    background-color: #efe9e0;
}
.navcolor .nav-link{
    color: #0f9e99;
    font-weight: light;
    margin-left: 10px;
}
.logo{
    height: 45px;
}
/*
header ends
=================================
hero begins
*/
.hero img{
    height: 700px;
    background-color: #0f9e99;
}
.hero h1{
    color: #0f9e99;
}
.hero a{
    border: 1px solid #0f9e99;
    padding: 10px 25px;
    color: #efe9e0;
}
.hero a:hover{
    border: 1px solid #0f9e99;
    padding: 10px 25px;
    color: #efe9e0;
    background-color: #0f9e99;
}
.deki{
    margin-top: 60px;
}
/*
hero ends
=================================
main begins
*/
#main{
    width: 100%;
    height: auto;
}
span{
    height: 100%;
    height: auto;
    float: left;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: #0f9e99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*
main ends
=================================
who we are begins
*/
.about img{
    width: 100%;
    height: 400px;
    animation: bounce 2s ease 0s infinite normal none;
}
@keyframes bounce {
  0% {
	animation-timing-function: ease-in;
	opacity: 1;
	transform: translateY(-45px);
  }

  24% {
	opacity: 1;
  }

  40% {
	animation-timing-function: ease-in;
	transform: translateY(-24px);
  }

  65% {
	animation-timing-function: ease-in;
	transform: translateY(-12px);
  }

  82% {
	animation-timing-function: ease-in;
	transform: translateY(-6px);
  }

  93% {
	animation-timing-function: ease-in;
	transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
	animation-timing-function: ease-out;
	transform: translateY(0px);
  }

  100% {
	animation-timing-function: ease-out;
	opacity: 1;
	transform: translateY(0px);
  }
}
.about a{
    border: 1px solid #0f9e99;
    padding: 10px 25px;
    color: #0f9e99;
}
.about a:hover{
    border: 1px solid #0f9e99;
    padding: 10px 25px;
    color: #efe9e0;
    background-color: #0f9e99;
}
.about h6{
    color: black;
}
/*
who we are ends
=================================
what we do begins
*/
.services img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.services h4 a{
    text-decoration: none;
    color: #0f9e99;
}
.services .myservices{
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 3px 2px gainsboro;
    border-radius: 7px;
}
.services .myservices:hover{
    background-color: #0f9e99;
    padding: 20px;
    box-shadow: 0 3px 3px 2px gainsboro;
    border-radius: 7px;
    cursor: alias;
}
.services .myservices:hover h4 a,
.services .myservices:hover p{
    color: white;
}
/*
what we do ends
=================================
solutions begins
*/
.solutions .pro{
    width: 100%;
    background-color: white;
}
.solutions .pro:hover{
    width: 100%;
    background-color: #0f9e99;
}
.solutions .pro img{
    height: 200px;
}
.pro a{
    border: 1px solid white;
    border-radius: 25px;
    background-color: #0f9e99;
    color: white;
}
.pro a:hover{
    border: 1px solid #0f9e99;
    border-radius: 25px;
    background-color: white;
    color: #0f9e99;
}
.pro h5{
    color: #0f9e99;
}
.solutions .pro:hover h5,
.solutions .pro:hover p{
    color: white;
}
/*
solutions ends
=================================
contact begins
*/
.map{
    height: 287px;
}
.contact .amuche{
    border-top: 3px solid #0f9e99;
    border-bottom: 3px solid #0f9e99;
    box-shadow: 0 3px 3px 2px gainsboro;
    padding: 20px;
}
.contact .amuche h4{
    color: #0f9e99;
}
.contact .btn{
    background-color: #0f9e99;
    color: #efe9e0;
}
.cta a{
    border: 1px solid white;
    border-radius: 25px;
    background-color: #0f9e99;
    color: white;
}
.cta a:hover{
    color: #efe9e0;
}
.cta h2{
    color: white;
}
.ctaa{
    background-image: url(../image/ctaa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.60;
    background-color: black;
}
/*
contact ends
===========================
footer begins
*/
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer ul li{
    padding: 3px 0;
}
.footer ul li a{
    text-decoration: none;
    color: inherit;
}
.footer ul li a:hover{
    text-decoration: underline;
    color: #0f9e99;
}
.footer h6{
    color: #0f9e99;
}
.footer ul li i{
    color: #0f9e99;
}
.oge{
    margin-top: 100px;
}
.footer .btn{
    background-color: #0f9e99;
    color: #efe9e0;
}
.small-footer{
    background-color: #0f9e99;
}
.footer a i{
    color: #0f9e99;
    margin-left: 10px;
    width: 20px;
    font-size: x-large;
    padding-top: 10px;
}
/*
footer ends
=====================================================================
about us page begins
*/
.oge{
    margin-top: 100px;
}
.aboutus h3{
    color: #0f9e99;
}
.aboutus img{
    width: 100%;
    height: 400px;
    float: left;
}
.mission img{
    width: 100%;
    height: 400px;
    border-radius: 50px;
    border: solid 1px #0f9e99;
}
.vision img{
    width: 100%;
    height: 400px;
    border-radius: 50px;
    border: solid 1px #0f9e99;
}
.blog .my_blog{
    width: 100%;
}
.blog .my_blog:hover{
    width: 100%;
    background-color: #0f9e99;
}
.blog .my_blog img{
    height: 300px;
}
.blog .my_blog h5{
    color: #0f9e99;
}
.blog .my_blog a{
    border: 1px solid white;
    background-color: #0f9e99;
    color: white;
}
.blog .my_blog a:hover{
    border: 1px solid #0f9e99;
    background-color: white;
    color: #0f9e99;
}
.blog .my_blog:hover h5,
.blog .my_blog:hover p{
    color: white;
}
.blog .my_blog:hover a{
    border: 1px solid white;
}
.blogg h5{
    color: #0f9e99;
}
.commit h4{
    color: #0f9e99;
}
.commit a{
    border: 1px solid white;
    border-radius: 25px;
    background-color: #0f9e99;
    color: white;
    margin-top: 10px;
}
.commit img{
    width: 100%;
    height: 250px;
    border-radius: 50px;
    border: solid 1px #0f9e99;
}